@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  vertical-align: top;
}

body{
  font-family:'Montserrat', 'Noto Sans KR', sans-serif;
  overflow: hidden;
}

#page1{
  background: #5a5a5a;
}

#page2{
  background: #ebebeb;
}

#page3{
  background: #5a5a5a;
}

#page4{
  background: #ebebeb;
}

#page5{
  background: #5a5a5a;
}

#page6{
  background: #ebebeb;
}

/*고정*/
h1.logo{
  position: fixed;
  top: 40px;
  width: 100%;
  text-align: center;
  color: #c9c9c9;
  font-size: 22px;
  z-index: 10
}

h1.logo span{
  font-size: 38px;
  font-family: 'Allison', cursive;
  font-weight: normal;
  color: #000;
  margin-left: 10px;
}

.left-name{
  position: fixed;
  left:50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10
}

.left-name h2{
  font-size: 60px;
  color: #c9c9c9;
}

.left-name span{
  display: block;
  width: 1px;
  height: 100px;
  position: relative;
  top: 30px;
  left: 40px;
  background: #fff;
}

.left-name p{
  position: relative;
  top: 50px;
  left: 8px;
  font-weight: 500;
  color: #fff;
  transform: rotate(270deg);
}

.pager{
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 10
}

.pager span{
  width: 24px;
  height: 4px;
  background-color: #707070;
  margin-bottom: 25px;
  display: block;
  cursor: pointer;
  transition: background 0.4s
}

.pager span:last-child{
  margin-bottom: 0;
}

.pager span.on{
  background-color: #fff;
}

p.copy{font-size: 12px;
  color: #ebebeb;
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/*포트폴리오 콘텐츠 영역*/
.contents{ height: 900px; position: relative; transition: background 1.5s;}
.contents.even{height: 900px; position: relative; transition: background 0.5s;}
.contents:after{clear: both; content: ''; display: block;}
.contents .conBox{width: 80%; max-width: 1200px;  position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition:all 3s; transition-delay: 0.5s;}
.contents .conBox.active{opacity: 1; }

.textBox{width: 45%; float: left;}
.textBox .category{font-size: 15px; font-weight: bold; color: #c9c9c9;}
.textBox h2{font-size: 40px; color: #fff; margin-bottom: 30px;}
.textBox .description{font-weight: 500; color: #ebebeb; margin-bottom: 40px;}
.textBox .color{margin-bottom: 40px;}
.textBox .color span:first-child{display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: #06246a; margin-right: 10px;}
.textBox .color span:last-child{display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: #ba6c88;}
.textBox .design p{font-weight: bold; color: #ebebeb; margin-bottom: 20px;}
.textBox .design ul:after{display: block; content: ''; clear: both; margin-bottom: 40px;}
.textBox .design ul li{float: left; margin-right: 10px;}
.textBox .publishing p{font-weight: bold; color: #ebebeb; margin-bottom: 20px;}
.textBox .publishing ul{margin-bottom: 10px;}
.textBox .publishing ul:after{display: block; content: ''; clear: both;}
.textBox .publishing ul li{float: left; margin-right: 10px}
.textBox .link{font-size: 16px; color: #fff; margin-top: 50px;}
.textBox .link span{display: inline-block; width: 44px; height: 9px; background: url(../images/link.png) no-repeat center; position: relative; left: 20px;animation-name: bounce; transform-origin: center bottom; animation-iteration-count: infinite; animation-duration: 1s; animation-fill-mode: both;}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(30px, 0px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(15px, 0px, 0);
  }

  90% {
    transform: translate3d(0,0px,0);
  }
}

.mockUp{
  position: relative;
  float: right;
}

.contents .mockUp{
  right: 0;
  top: 60px;
}

.mockUp p.txt1{
  position: absolute;
  top: -90px;
  left: 40px;
  width: 957px;
  height: 111px;
  z-index: -1;
  opacity: 0.5;
}

.mockUp p.txt2{
  position: absolute;
  top: -95px;
  left: 200px;
  width: 1739px;
  height: 111px;
  z-index: -1
}

.mockUp p.txt3{
  position: absolute;
  top: -85px;
  left: 200px;
  width: 1227px; 
  height: 111px;
  z-index: -1;
  opacity: 0.5;
}

.mockUp p.txt4{
  position: absolute;
  top: -90px;
  left: 70px;
  width: 1227px;
  height: 111px;
  z-index: -1;
}

.mockUp p.txt5{
  position: absolute;
  top: -95px;
  left: 200px;
  width: 1739px;
  height: 111px;
  z-index: -1;
  opacity: 0.5
}

.mockUp p.txt6{
  position: absolute;
  top: -100px;
  left: 200px;
  width: 1006px;
  height: 111px;
  z-index: -1;
}

/*
.contents:nth-child(even) .left-name{margin-left: 4.158%; margin-top: 100px;}
.contents:nth-child(even) .left-name h2{font-family: 'Montserrat', sans-serif; font-size: 60px; color: #c9c9c9;}
.contents:nth-child(even) .left-name h2:after{content: ''; display: block; width: 1px; height: 100px; position: relative; top: 30px; left: 40px; background: #666;}
.contents:nth-child(even) .left-name p{position: relative; top: 120px; right: 18px; font-size: 18px; font-weight: 500; color: #666 ; transform: rotate(270deg);}
*/

.contents.even .textBox .category{
  font-size: 15px;
  font-weight: bold;
  color: #c9c9c9;
}

.contents.even .textBox h2{
  font-size: 40px;
  color: #333;
  margin-bottom: 30px;
}

.contents.even .textBox .description{
  font-weight: 500;
  color: #666;
  margin-bottom: 40px;
}

.contents.even .textBox .color{
  margin-bottom: 40px;
}

.contents.even .textBox .color span:first-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d07c3c;
  margin-right: 10px;
}

.contents.even .textBox .color span:last-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1e8345;
}

.contents.even .textBox .design p{
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}

.contents.even .textBox .design ul:after{
  display: block;
  content: '';
  clear: both;
  margin-bottom: 40px;
}

.contents.even .textBox .design ul li{
  float: left;
  margin-right: 10px;
}

.contents.even .textBox .publishing p{
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}

.contents.even .textBox .publishing ul{
  margin-bottom: 10px;
}

.contents.even .textBox .publishing ul:after{
  display: block;
  content: '';
  clear: both;
}

.contents.even .textBox .publishing ul li{
  float: left;
  margin-right: 10px;
}

.contents.even .textBox .link{
  font-size: 16px;
  color: #333;
  margin-top: 50px;
}

.contents.even .textBox .link span{
  display: inline-block;
  width: 44px;
  height: 9px;
  background: url(/images/link01.png) no-repeat center;
  position: relative;
  left: 20px;
}

.contents.even .mockUp{
  right: 0;
  top: 180px;
  width: 55%;
}

#page3 .textBox .color span:first-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 10px;
}

#page3 .textBox .color span:last-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

#page3 .mockUp{
  right: 0;
  top: 180px;
  width: 55%;
}

#page4 .textBox .color span:first-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0060 ;
  margin-right: 10px;
}

#page4 .textBox .color span:last-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #57d62e;
}

#page4 .mockUp{
  right: 0px;
  top: 130px;
  width: 55%;
}

#page5 .textBox .color span:first-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #267dc3 ;
  margin-right: 10px;
}

#page5 .textBox .color span:last-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8cc971;
}

#page5 .mockUp{
  right: 0;
  top: 180px;
  width: 55%;
}

#page6 .textBox .color span:first-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #292929 ;
  margin-right: 10px;
}

#page6 .textBox .color span:last-child{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #003638;
}

#page6 .mockUp{
  right: 0;
  top: 180px;
  width: 55%;
}

/*
.portfolio02 .pager{position: fixed; top: 50%; right: 50px; transform: translateY(-50%);}
.portfolio02 .pager p{width: 24px; height: 4px; background-color: #707070; margin-bottom: 25px}
.portfolio02 .pager p.on{background-color: #fff;}
.copy02{color: #333;}
*/




















