@charset "utf-8";

.live_post {
    max-width: 768px;
    margin: 0 auto 20px;
    padding-left: 16px;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 25px;
}

.live_post h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}

.liveSlide {
    max-width: 768px;
    margin: auto;
    overflow: hidden;
}

.live_post_inner {
    width: 1479px;
}

.live_post_inner:after {
    clear: both;
    content: "";
    display: block;
}

.live_box {
    float: left;
    width: 283px;
    height: 170px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 16px;
}

.live_box:last-child {
    margin-right: 0;
}

.live_box .live_box_top {
    padding: 10px 0 0 10px;
}

.live_box .live_box_top:after {
    clear: both;
    content: "";
    display: block;
}

.live_box .live_box_top img {
    float: left;
    width: 32px;
}

.live_box .live_box_top .live_box_topRight {
    float: left;
    margin-left: 10px;
}

.live_box .live_box_top .live_box_topRight div:first-child span:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.live_box .live_box_top .live_box_topRight div:first-child span:last-child {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 40px;
    height: 14px;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 11px;
    color: #888888;
    text-align: center;
}

.live_box .live_box_top .live_box_topRight div:last-child {
    font-size: 10px;
    color: #888888;
}

.live_box
    .live_box_top
    .live_box_topRight
    div:last-child
    span:first-child:after {
    content: "";
    position: relative;
    bottom: 3px;
    left: 5px;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #888888;
}

.live_box .live_box_top .live_box_topRight div:last-child span:last-child {
    margin-left: 7px;
}

.live_box p {
    width: 260px;
    font-size: 14px;
    white-space: normal;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-left: 10px;
    margin-top: 12px;
}

.live_box .more {
    position: relative;
    top: 0;
    left: 220px;
    font-size: 14px;
    color: #bbbbbb;
}

.live_box .live_box_bottom {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
    color: #888888;
}

.live_box .live_box_bottom span:last-child {
    margin-left: 8px;
}

/******************************************************/

.post {
    max-width: 768px;
    margin: 0 auto;
}

.post_box {
    padding: 20px 16px 0;
    margin-bottom: 10px;
    background-color: #fff;
}

.post_box_top:after {
    clear: both;
    content: "";
    display: block;
}

.post_box_top img {
    float: left;
    width: 32px;
}

.post_box .post_box_top .post_box_topRight {
    float: left;
    margin-left: 10px;
}

.post_box .post_box_top .post_box_topRight div:first-child span:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.post_box .post_box_top .post_box_topRight div:first-child span:last-child {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 40px;
    height: 14px;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 11px;
    color: #888888;
    text-align: center;
}

.post_box .post_box_top .post_box_topRight div:last-child {
    position: relative;
    left: 5px;
    font-size: 10px;
    color: #888888;
}

.post_box
    .post_box_top
    .post_box_topRight
    div:last-child
    span:first-child:after {
    content: "";
    position: relative;
    bottom: 3px;
    left: 5px;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #888888;
}

.post_box .post_box_top .post_box_topRight div:last-child span:last-child {
    margin-left: 7px;
}

.post_box p {
    width: 100%;
    font-size: 14px;
    white-space: normal;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 20px;
}

.post_box .more {
    position: absolute;
    top: -30px;
    right: 0;
    display: block;
    font-size: 14px;
    color: #bbbbbb;
}

.post_box .post_box_bottom {
    position: relative;
    margin-top: 30px;
    font-size: 12px;
    color: #888888;
}

.post_box .post_box_bottom span {
    margin-right: 8px;
}

.post_box .post_box_bottom span:first-child {
    margin-right: 0;
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: #eaeaea;
}

.post_box_click {
    position: relative;
    width: 100%;
    height: 40px;
}

.post_box_click span {
    font-size: 12px;
    color: #888888;
}

.post_box_click .like {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.post_box_click .comment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post_box_click .scrap {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

/******************************************************/

.write {
    position: fixed;
    z-index: 500;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 152px;
    height: 50px;
    border-radius: 25px;
    background-color: #00a0e2;
    transition: bottom 0.4s;
}
.write.active {
    bottom: -100px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.14, 0.92);
}

.write img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.write span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

/******************************************************/

.swiper-slide a {
    text-align: inherit;
}

/******************************************************/

.writing_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.writing {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 732px;
    width: 90%;
    min-width: 343px;
    height: 712px;
    z-index: 1001;
    border-radius: 10px;
    background-color: #fff;
    display: none;
}

.writing_box {
    padding: 0 16px;
}

.writing_box textarea {
    width: 100%;
    height: 500px;
    border: none;
    resize: none;
}

.writing_box textarea::placeholder {
    font-size: 12px;
    color: #999;
}

.writing_line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
}

.writing_boxTop {
    width: 100%;
    height: 60px;
}

.writing_boxTop h2 {
    font-size: 20px;
    text-align: center;
    color: #00a0e2;
    line-height: 60px;
}

.writing_boxTop .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 60px;
    cursor: pointer;
}

.writing_boxTop .close span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.writing_boxTop .close span:first-child {
    position: absolute;
    top: 27px;
    right: 20px;
    transform: rotate(45deg);
}

.writing_boxTop .close span:last-child {
    position: absolute;
    top: 27px;
    right: 20px;
    transform: rotate(-45deg);
}

.sign {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #00a0e2;
}

.sign p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

/******************************************************/

.category_box {
    padding-top: 20px;
}

.category_box:after {
    clear: both;
    content: "";
    display: block;
}

.category_box p {
    float: left;
    font-size: 12px;
    line-height: 30px;
    counter-reset: #999;
    margin-bottom: 30px;
}

.category_box .category {
    float: left;
    font-size: 12px;
    margin-left: 15px;
}

.category_box .category {
    max-width: calc(100% - 60px);
    overflow: hidden;
}

.category_box .category ul li {
    line-height: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.category_box .category ul li:last-child {
    margin-right: 0px;
}

.category_box .category ul li.cateOn {
    background-color: #00a0e2;
    color: #fff;
    padding: 0 10px;
    border-radius: 15px;
}
