@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    color: #333;
}

.wrap {
    min-width: 375px;
    margin: auto;
    background-color: #eeeeee;
}

/******************************************************/

header {
    max-width: 768px;
    margin: auto;
    padding: 0 16px;
    background-color: #fff;
}

header a {
    display: block;
    width: 100px;
    height: 40px;
    padding-top: 30px;
}

header span {
    display: block;
    margin-top: 80px;
    font-size: 12px;
    color: #999;
}

header p {
    font-size: 20px;
    font-weight: 700;
}

/******************************************************/

.logIn {
    max-width: 768px;
    margin: auto;
    padding: 0 16px 150px;
    background-color: #fff;
}

.logIn h2 {
    font-size: 28px;
    padding: 60px 0 40px;
    text-align: center;
}

.logIn input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.logIn input::placeholder {
    font-size: 14px;
    color: #888;
}

.logIn button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #00a0e2;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.logIn .still {
    text-align: center;
    margin-bottom: 15px;
}

.logIn .still span:first-child {
    font-size: 14px;
    color: #888;
}

.logIn .still span:last-child {
    font-size: 14px;
    font-weight: 700;
    color: #888;
    margin-left: 15px;
}

.logIn .find {
    text-align: center;
}

.logIn .find a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #888;
}

.copy {
    font-size: 11px;
    color: #888;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
