@charset "utf-8";

.img_trans {
    padding-top: 112px;
    max-width: 768px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

.img_trans .img_fix {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.img_trans .img_fix .camera {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.img_trans p {
    font-weight: 700;
    margin-top: 16px;
}

/******************************************************/

.information {
    max-width: 768px;
    margin: 0 auto;
    padding: 70px 16px 247px;
    background-color: #fff;
}

.information h2 {
    font-size: 12px;
    font-weight: 500;
    color: #8a8a8e;
    margin-bottom: 16px;
}

.information div {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.information div:after {
    clear: both;
    content: "";
    display: block;
}

.information div p {
    line-height: 50px;
    font-size: 14px;
}

.information div p:first-child {
    float: left;
}

.information div p:last-child {
    float: right;
    color: #888888;
}

/******************************************************/

.img_popBg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.img_popCon {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    width: 343px;
    height: 304px;
    background-color: #fff;
    display: none;
}

.img_popCon_top {
    width: 100%;
    height: 42px;
    background-color: #f3f3f3;
    padding: 0 20px;
}

.img_popCon_top .close {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 42px;
    cursor: pointer;
}

.img_popCon_top .close span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.img_popCon_top .close span:first-child {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: rotate(45deg);
}

.img_popCon_top .close span:last-child {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: rotate(-45deg);
}

.img_popCon_top p {
    font-weight: 700;
    text-align: center;
    line-height: 42px;
}

.img_choose {
    padding: 20px;
}

.img_choose:after {
    clear: both;
    content: "";
    display: block;
}

.img_choose img {
    float: left;
    margin-right: 21px;
    cursor: pointer;
}

.img_choose img:nth-child(4n + 0) {
    margin-right: 0;
    margin-bottom: 21px;
}
