@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.wrap{width: 100%; margin: auto;}

header{width: 100%; margin: auto; height: 44px; background: #333; position: relative;}
header h1{padding-top: 10px;}
header h1 a{display: block; width: 94px; height: 24px; background: url(../image/logo.png) no-repeat center/cover; margin: auto; text-indent: -9999px;}
header .menu_tab{position: absolute; top: 20px; left: 17px;}
header .menu_tab i{display: block; width: 10px; height: 2px; background: #bbb; margin-bottom: 4px;}
header .menu_tab span{display: block; width: 10px; height: 2px; background: #bbb;}
header .menu_tab i.on1{position: relative; top: 3px; transform: rotate(45deg); transition: all 0.5s;}
header .menu_tab span.on2{position: relative; top: -3px; transform: rotate(-45deg); transition: all 0.5s;}


header .menu{position: absolute; top: 44px; width: 100%; background: #333; display: none; z-index: 30;}
header .search{border-bottom: 1px solid #bbb; padding-bottom: 5px;}
header .search input{border: 0; background: #444; color: #aaa; width: 360px; height: 30px; border-radius: 10px; font-size: 10px; padding-left: 10px; margin-left: 8px;}
header .search span{position: relative; top: -20px; right: -350px;}
header .search span a{display: block; width: 10px; height: 10px; background: url(../image/icon_search_s.png) no-repeat center/cover; text-indent: -9999px;}

#nav{padding: 0 17px; color: #aaa; background: #333;}
#nav > li{position: relative; border-bottom: 1px solid #bbb; padding-bottom: 10px;}
#nav > li:last-child{border-bottom: none;}
#nav > li > a{display: block; width: 100%; padding: 15px 0 5px;}
#nav ul{display: none;}
#nav ul li a{display: block; width: 100%; font-size: 11px; margin-left: 20px; padding: 10px 0;}
#nav .plus{position: absolute; top: 20px; right: 7px;}
#nav .plus i{display: block; width: 10px; height: 2px; background: #bbb; margin-bottom: 4px;}
#nav .plus span{display: block; width: 10px; height: 2px; background: #bbb;}
#nav .plus i.on11{position: relative; top: 3px; transform: rotate(45deg); transition: all 0.5s;}
#nav .plus span.on22{position: relative; top: -3px; transform: rotate(-45deg); transition: all 0.5s;}



.head_slide{width: 100%; height: 768px;  background: linear-gradient(#333, #000); overflow: hidden;}
.head_slide .head_first_s{position: relative; width: 100%; height: 768px;}
.head_slide .head_first_s .slide00{position: absolute; right: 0; width: 289px; height: 300px;}
.head_slide .head_first_s .slide01{position: absolute; bottom: 0; width: 400px; height: 200px;}
.head_slide .head_first_s .txt_box0 h2{font-family: Montserrat; font-size: 39px; color: #fff; font-weight: bold; text-align: center; padding-top: 300px;}
.head_slide .head_first_s .txt_box0 > p{font-family: Montserrat; color: #fff; font-size: 15px; text-align: center; margin: 15px 0 20px;}
.head_slide .head_first_s .text_box0 p{color: #919195; text-align: center; margin-bottom: 5px;}
.head_slide .head_first_s .txt_box0 .btn{text-align: center; margin-top: 30px;}
.head_slide .head_first_s .txt_box0 button{color: #0882FB; font-size: 15px; font-weight: bold; border: none; background: none;}
.head_slide .head_first_s .txt_box0 button.btn0{margin-right: 30px;}

.head_slide .head_second_s{position: relative; width: 100%; height: 768px;}
.head_slide .slide02{position: absolute; top: 300px; right: -40px; width: 500px; height: 186px; transform: rotate(-15deg);}
.head_slide .head_second_s .txt_box0 h2{font-family: Montserrat; font-size: 39px; color: #fff; font-weight: bold; text-align: center; padding-top: 100px;}
.head_slide .head_second_s .txt_box0 h2 span{font-size: 41px; color: red;}
.head_slide .head_second_s .txt_box0 h2 i{font-style: normal; font-size: 41px; color: red;}
.head_slide .head_second_s .txt_box0 > p{font-family: Montserrat; color: #fff; font-size: 15px; text-align: center; margin: 15px 0 20px;}
.head_slide .head_second_s .text_box0{margin-top: 400px;}
.head_slide .head_second_s .text_box0 p{color: #919195; text-align: center; margin-bottom: 5px;}
.head_slide .head_second_s .txt_box0 .btn{text-align: center; margin-top: 30px;}
.head_slide .head_second_s .txt_box0 button{color: #0882FB; font-size: 15px; font-weight: bold; border: none; background: none;}
.head_slide .head_second_s .txt_box0 button.btn0{margin-right: 30px;}

.head_slide .head_third_s{position: relative; width: 100%; height: 768px;}
.head_slide .slide03{position: absolute; top: 55px; right: 80px; width: 468px; height: 150px;}
.head_slide .slide04{position: absolute; bottom: 0px; left: 50px; width: 433px; height: 150px;}
.head_slide .head_third_s .txt_box0 h2{font-family: Montserrat; font-size: 39px; color: #fff; font-weight: bold; text-align: center; padding-top: 300px;}
.head_slide .head_third_s .txt_box0 > p{font-family: Montserrat; color: #fff; font-size: 15px; text-align: center; margin: 15px 0 20px;}
.head_slide .head_third_s .text_box0{margin-top: 0px;}
.head_slide .head_third_s .text_box0 p{color: #919195; text-align: center; margin-bottom: 5px;}
.head_slide .head_third_s .txt_box0 .btn{text-align: center; margin-top: 30px;}
.head_slide .head_third_s .txt_box0 button{color: #0882FB; font-size: 15px; font-weight: bold; border: none; background: none;}
.head_slide .head_third_s .txt_box0 button.btn0{margin-right: 30px;}



.best_slide{width: 100%; height: 500px;}
.best_slide > h2{font-size: 20px; font-weight: bold; text-align: center; margin: 80px 0 50px;}
.best_slide > ul{padding: 0 17px; width: 375px; margin: auto;}
.best_slide > ul:after{clear: both; content: ''; display: block;}
.best_slide > ul li{float: left; margin-left: 42px; margin-right: 42px; text-align: center; font-size: 18px; color: #ccc; margin-bottom: 26px;}  
.best_slide > ul li:last-child{margin-right: 0;}
.best_slide > ul li a{display: block; line-height: 18px;}
.best_slide > ul li.menuOn{color: #222; font-weight: 600; border-bottom: 2px solid #222;}


.best_slide_s01{width: 150px; height: 220px; margin-left: 17px;}
.best_slide_s01 .img{position: relative; width: 150px; height: 150px; background: #f2f2f2; margin-bottom: 20px;}
.best_slide_s01 .img img{position: absolute; top: 55px; left: 15px; width: 120px; height: auto; transform: rotate(-45deg); box-shadow: 4px 4px 4px rgba(0,0,0,0.5);}
.best_slide_s01 .img00 img{transform: rotate(0); width: 50px; height: 70px; top: 40px; left: 48px; box-shadow: none;}
.best_slide_s01 .img01 img{box-shadow: none;}
.best_slide_s01 .img i{position: absolute; bottom: -15px; font-size: 25px;}
.best_slide_s01 .img span{position: absolute; bottom: -10px; right: 5px; display: block; width: 40px; height: 20px; background: #333; border-radius: 10px; color: #fff; text-align: center; line-height: 20px; font-size: 11px; font-style: italic;}
.best_slide_s01 .text_box0 i{display: block; font-style: normal; color: #a6a6a6;}
.best_slide_s01 .text_box0 > span{display: block; font-size: 13px; color: #626262; font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 150px;}
.best_slide_s01 .text_box0 p{font-size: 14px; font-weight: bold;}
.best_slide_s01 .text_box0 p span{font-size: 13px;}

.best_slide_fr.active{display: block;}
.best_slide_fr{display: none;}

.new_arrivals{width: 100%; height: 580px;}
.new_arrivals h2{font-size: 20px; font-weight: bold; text-align: center;}

.new_slide_s .img{position: relative; width: 375px; height: 344px; margin: auto;}
.new_slide_s .img img{position: absolute; top: 110px; left: 60px; width: 250px; height: auto; transform: rotate(-25deg); box-shadow: -2px 4px 4px rgba(0,0,0,0.5);}
.new_slide_s .text_box0 p{text-align: center;}
.new_slide_s .text_box0 p:first-child{font-size: 15px; color: #535353; margin-bottom: 30px;}
.new_slide_s .text_box0 p:last-child{font-size: 13px; color: #a8a8a8; font-weight: 600;}

.our_slide{width: 100%; height: 720px;}
.our_slide > h2{font-size: 20px; font-weight: bold; text-align: center; padding: 80px 0 50px;}
.our_slide > ul{padding: 0 17px; width: 375px; margin: auto;}
.our_slide > ul:after{clear: both; content: ''; display: block;}
.our_slide > ul li{float: left; margin-left: 42px; margin-right: 42px; text-align: center; font-size: 18px; color: #ccc; margin-bottom: 26px;}  
.our_slide > ul li:last-child{margin-right: 0;}
.our_slide > ul li a{display: block; line-height: 18px;}
.our_slide > ul li.onMenu{color: #222; font-weight: 600; border-bottom: 2px solid #222;}

.our_contents{padding: 0 17px; margin-bottom: 20px;}
.our_contents:after{clear: both; content: ''; display: block;}
.our_contents .left_con{float: left;}
.our_contents .left_con .img{position: relative; width: 90px; height: 90px; background: #f5f5f5; overflow: hidden;}
.our_contents .left_con .img img{position: absolute; top: 33px; left: 3px; width: 80px; height: auto; box-shadow: 4px 4px 4px rgba(0,0,0,0.5);}
.our_contents .right_con{float: left; padding: 10px 15px;}
.our_contents .right_con i{display: block; font-size: 13px; font-style: normal; color: #6e6e6e; margin-bottom: 8px;}
.our_contents .right_con span{display: block; width: 220px; font-size: 14px; margin-bottom: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.our_contents .right_con p{font-size: 14px; font-weight: 700;}

.our_slide_fr{width: 375px; margin: auto;}
.our_slide .our_slide_fr.ourActive{display: block;}
.our_slide .our_slide_fr{display: none;}

footer{ width:100%;  background: #333; color: #aaa;}
footer h1{padding: 20px; opacity: 0.5;}
footer h1 a{display: block; width: 94px; height: 24px; background: url(../image/logo.png) no-repeat center/cover; text-indent: -9999px; margin: auto;}
footer ul{width: 375px; margin: auto; padding-left: 17px;}
footer ul:after{clear: both; content: ''; display: block;}
footer ul li{position: relative; float: left; margin-left: 15px; font-size: 13px; margin-bottom: 25px;}
footer ul li:first-child{margin-left: 0;}
footer ul li:after{content: ''; display: block; width: 1px; height: 15px; background: #aaa; position: absolute; top: 2px; right: -8px;}
footer ul li:last-child:after{display: none;}
footer p{width: 375px; margin: auto; font-size: 11px; padding-left: 17px;}
footer .f_con{line-height: 2;}
footer .copy{margin-top: 5px; padding-bottom: 30px;}

.owl-theme .owl-dots .owl-dot span{width: 100px; height: 5px; margin: 0; border-radius: 0;}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{background: #333;}
.owl-theme .owl-nav.disabled+.owl-dots{margin-top: 50px;}

.owl-carousel.owl-theme.second-slide-leo .owl-dots .owl-dot span{width: 10px; height: 10px; border-radius: 50%; margin-right: 10px; margin-top: 20px;}
.owl-carousel.owl-theme.second-slide-real .owl-dots .owl-dot span{width: 10px; height: 10px; border-radius: 50%; margin-right: 10px; margin-top: 20px;}
.owl-carousel.owl-theme.third-slide .owl-dots .owl-dot span{width: 50px; margin-top: 50px;}




