@charset "utf-8";

header{position: relative; max-width: 1520px; width: 90%; margin: auto;}
header:after{clear: both; content: ''; display: block;}
.logo{float: left; padding: 24px 0 4px;}
.logo a{display: block; width: 265px; height: 46px; background: url(../img/logo.png) no-repeat 0 center/contain; text-indent: -9999px;}

#gnb{float: right; margin-right: 200px; font-weight: bold;}
#gnb:after{clear: both; content: ''; display: block;}
#gnb li{float: left; height: 100px; margin-left: 50px; transition: all 0.4s;}
#gnb li:first-child{margin-left: 0;}
#gnb li.on{color: #d07c3c; border-bottom: 3px solid #d07c3c;}
#gnb li a{display: block; line-height: 100px;}
.gnb_bg{display: none; position: fixed; top: 80px; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 977;}
.gnb_bg.gnbBgOn{display: block;}

header > p{width: 134px; height: 100px; background: #d07c3c;}
header .menu{position: absolute; left: 0; top: 0; display: none;}
header .menu a{display: block; width: 100%; height: 100%; background: url(../img/icon_menu.png) no-repeat center; text-indent: -9999px;}
header .search{position: absolute; right: 0; top: 0; z-index: 996;}
header .search a{display: block; width: 100%; height: 100%; background: url(../img/icon_search0.png) no-repeat center; text-indent: -9999px;}
header .search_bg{display: none; position: fixed; top: 100px; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 977;}
header .search_bg.searchBgOn{display: block;} 
header .search_box{display: none; width: 100%; position: absolute; right: 0; top: 100px; z-index: 999; }
header .search_box input{float: left; width: calc(100% - 134px); height: 100px; border: 2px solid #1d8748; font-size: 18px; padding-left: 20px;}
header .search_box .s_box{float: right; width: 134px; height: 100px; background: #1d8747; font-size: 20px; color: #fff; font-weight: bold; text-align: center; line-height: 100px; cursor: pointer;}

video{display: block; max-width: 1520px; width: 100%; margin: auto;}
#video img{display: none;}

#notice{max-width: 1520px; width: 90%; margin: auto; font-weight: bold;}
#notice:after{clear: both; content: ''; display: block;}
#notice .research{float: left; width: 200px; height: 68px; background: #1d8748; color: #fff; text-align: center; line-height: 68px;}
#notice .v_slide{float: left; width: calc(100% - 350px); height: 68px; border-bottom: 1px solid #ccc; overflow: hidden;}
#notice .v_slide ul{line-height: 68px; color: #999; padding: 0 30px; height: 204px; position: relative; top: 0;}
#notice .v_slide ul li{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#notice .v_slide ul li span{margin-right: 30px;}
#notice .v_slide ul li i{font-style: normal; color: #222;}
#notice .btn{float: right;}
#notice .btn:after{clear: both; content: ''; display: block;}
#notice .btn button{width: 75px; height: 68px; background: #fff; border: 1px solid #ccc; border-left: 0;}
#notice .btn .down{float: left; border-left: 1px solid #ccc; background: url(../img/icon_down.png) no-repeat center; text-indent: -9999px;}
#notice .btn .up{float: right; background: url(../img/icon_up.png) no-repeat center; text-indent: -9999px;}

#academy{display: block; position: relative; max-width: 1520px; width: 90%; margin: auto; margin-top: 150px;}
#academy h2{font-size: 36px; text-align: center; padding-bottom: 100px;}
#academy h2 span{display: inline-block; width: 8px; height: 8px; background: #1d8748; border-radius: 50%; margin-left: 5px;}

#academy .frame{max-width: 1700px; overflow: hidden; padding: 10px 0; display: block;position: relative;}
#academy ul{width: 2400px;}
#academy ul li{float: left; width: 300px; height: 410px; margin-left: 50px; overflow: hidden; box-shadow: 2px 2px 10px rgba(0,0,0,0.5);}
#academy ul li:first-child{margin-left: 0;}
#academy .frame_btn{ top: -320px; display: block;}
#academy button{width: 58px; height: 115px; background: #fff;}
#academy #left{position: absolute; width: 58px; height: 115px; background: url(../img/icon_left.png) no-repeat center; border: none; text-indent: -9999px; top: 50%; left: 50%; margin-left: -55%;}
#academy #right{position: absolute; width: 58px; height: 115px; background: url(../img/icon_right.png) no-repeat center; border: none; text-indent: -9999px; top: 50%; right: 50%; margin-right: -55%; opacity: 0; transition: all 0.5s;}
#academy:hover #right{opacity: 1;}

#academy .frame_small{width: 300px; overflow: hidden; padding: 10px 0; display: none; margin: auto;}
#academy .frame_small ul li{margin-left: 0;}
#academy .frame_small_btn{display: none;}

.bx-wrapper{box-shadow:none; background: none; border:none;}

#news{max-width: 1520px; width: 90%; margin: auto; margin-top: 100px;}
#news:after{clear: both; content: ''; display: block;}
#news h3{margin-bottom: 30px;}
#news a:hover{text-decoration: underline;}
#news ul li:before{content: ''; display: block; width: 6px; height: 6px; background: #000; border-radius: 50%; position: relative; top: 13px; left: -13px;}
#news .news1{float: left;}
#news .news2{float: right;}
#news>div{position: relative; width: 740px; height: 416px; background: #fff; border: 1px solid #ddd; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); padding: 45px 45px 0;}
#news>div h2{font-size: 36px; margin-bottom: 35px;}
#news>div p{color: #7e7e7e; margin-bottom: 35px;}
#news>div ul li{font-weight: bold; margin-bottom: 20px;}
#news>div ul li a{display: inline-block; width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#news>div ul li span{position: relative; right: -8%;}
#news div button{position: absolute; width: 70px; height: 70px; background: #fff; border: 1px solid #ccc; top: 45px; right: 45px;}
#news div button:hover .icon_add{transform: rotate(360deg);}
#news div button .icon_add{position: absolute; top: 15px; right: 14px; transition: all 1.5s;}

footer{background: #28343e; margin-top: 200px;}
footer .inner{max-width: 1520px; width: 90%; margin: auto; padding-top: 45px; color: #fff;}
footer .inner:after{clear: both; content: ''; display: block;}
footer .f_logo{width: 279px; height: 49px; background: url(../img/f_logo.png) no-repeat center; margin-top: 30px; float: left;}
footer .f_menu{float: left; margin-left: 120px;}
footer .f_menu ul{margin-bottom: 30px;}
footer .f_menu ul:after{clear: both; content: ''; display: block;}
footer .f_menu ul li{position: relative; float: left; margin-left: 25px;}
footer .f_menu ul li:first-child{margin-left: 0;}
footer .f_menu ul li:after{content: ''; display: block; width: 2px; height: 18px; background: #5e7588; position: absolute; top: 0; right: -15px;}
footer .f_menu ul li:last-child:after{display: none;}
footer .f_menu .fCon{margin-bottom: 20px; line-height: 2;}
footer .f_menu .fCon span{font-weight: bold;}
footer .f_menu .fCon .re{display: none;}
footer .f_menu .fCon i{display: inline-block; width: 2px; height: 16px; background: #5e7588; position: relative; top: 3px; margin-left: 20px; margin-right: 20px;}
footer .copy{padding: 30px 0;}














@media(max-width:1690px){
    #news{margin-top: 200px;}
    #news .news1{float: none; width: 100%; margin: auto; margin-bottom: 50px;}
    #news .news2{float: none; width: 100%; margin: auto;}
    video{width: 90%;}
}

@media(max-width:1430px){
    .logo{padding: 20px 0 14px;}
    .logo a{width: 230px;}
    
    #gnb{margin-right: 140px; font-size: 16px;}
    #gnb li{height: 80px;}
    #gnb li a{line-height: 80px;}
    
    header p{width: 100px; height: 80px; line-height: 80px;}
    
    header .search_box{top: 80px;}
    header .search_box input{width: calc(100% - 100px); height: 80px;}
    header .search_box .s_box{width: 100px; height: 80px; line-height: 80px;}

    #notice{width: 90%; font-size: 16px;}
    
    #academy{margin-top: 100px;}
    #academy h2{padding-bottom: 70px;}
    #academy ul li{height: auto;}
    #academy #left{background: url(../img/icon_left.png) no-repeat center/25px; top: 50%; transform: translateY(-30%);}
    #academy #right{background: url(../img/icon_right.png) no-repeat center/25px; top: 50%; transform: translateY(-30%);}
    
    footer{font-size: 16px; margin-top: 150px;}
    footer .f_menu{margin-left: 0px;}
    footer .f_logo{display: none;}
}

@media(max-width:1100px){
    header{position: relative; width: 100%;}
    .logo{float: none; width: 100%;}
    .logo a{margin: auto;}
    
    #gnb{position: absolute; float: none; top: 80px; left: 0; width: 100%; margin-right: 0; text-align: center; background: #fff; z-index: 999; border-top: 1px solid #ccc; display: none;}
    #gnb li{float: none; margin-left: 0;}
    
    header .menu{display: block;}
    header .menu a{background: url(../img/icon_menu.png) no-repeat center/20px;}
    header .search a{background: url(../img/icon_search.png) no-repeat center/20px;}
    header .search_box input{width: calc(100% - 100px);}
    header .search_bg{top: 80px;}
    
    #video{width: 100%;}
    
    #news{margin-top: 80px;}
    
    #academy #left{background: url(../img/icon_left.png) no-repeat center/20px; left: 49%;}
    #academy #right{background: url(../img/icon_right.png) no-repeat center/20px;}
    
    #notice{width: 100%; font-weight: normal;}
    
    footer{margin-top: 100px;}
    footer .f_menu{margin-left: 0px;}
    footer .f_menu .fCon i{display: none;}
    footer .f_menu .fCon .re{display: block;}
}

@media(max-width:768px){
    .logo{padding: 4px 0 0px;}
    .logo a{width: 180px;}
    
    #gnb{top: 50px; font-size: 15px;}
    #gnb li{height: 60px;}
    #gnb li a{line-height: 60px;}
    .gnb_bg{top: 50px;}
    
    header p{width: 50px; height: 50px;}
    header .menu a{background: url(../img/icon_menu.png) no-repeat center/20px;}
    header .search a{background: url(../img/icon_search.png) no-repeat center/20px;}
    header .search_box{top: 50px;}
    header .search_box input{width: calc(100% - 50px); height: 50px; font-size: 15px;}
    header .search_box .s_box{width: 50px; height: 50px; line-height: 50px; font-size: 15px; font-weight: normal;}
    header .search_bg{top: 50px;}
    
    #notice{font-size: 15px;}
    #notice .research{width: 150px; height: 50px; line-height: 50px;}
    #notice .v_slide{width: calc(100% - 250px); height: 50px;}
    #notice .v_slide ul{line-height: 50px;}
    #notice .v_slide ul li span{display: none;}
    #notice .btn button{width: 50px; height: 50px;}
    #notice .btn .down{background: url(../img/icon_down30.png) no-repeat center;}
    #notice .btn .up{background: url(../img/icon_up30.png) no-repeat center;}
    
    #academy{display: block; margin-top: 80px;}
    #academy h2{font-size: 25px; padding-bottom: 50px;}
    #academy .b_logo{width: 400px; top: 500px;}
    
    #academy .frame{display: none;}
    #academy .frame_btn{display: none;}
    #academy .frame_small{display: block;}
    #academy .right{opacity: 1;}
    #academy .frame_small_btn{position: relative; top: -280px; display: block;}
    #academy .frame_small_btn #prev{position: absolute;  background: url(../img/icon_left.png) no-repeat center/20px; border: none; text-indent: -9999px; top: -30px; left: 52%; margin-left: -57%;}
    #academy .frame_small_btn #next{position: absolute;  background: url(../img/icon_right.png) no-repeat center/20px; border: none; text-indent: -9999px; top: -30px; right: 52%; margin-right: -57%;}
    #academy ul li{height: 410px;}
    
    #news div h3{font-size: 25px;}
    #news div p{font-size: 14px;}
    #news div ul{font-size: 14px;}
    #news div ul li span{display: none;}
    #news div ul li a{width: 100%}
    #news div button{width: 35px; height: 35px;}
    #news div button .icon_add{top: 6px; right: 6px;}
    
    footer{font-size: 14px; margin-top: 50px;}
    footer .f_menu{margin-left: 0px;}
}

@media(max-width:375px){
    .logo{padding: 0 0 4px;}
    
    header p{background: #fff;}
    header .menu a{background: url(../img/icon_menu_s.png) no-repeat center/20px;}
    header .search a{background: url(../img/icon_search_s.png) no-repeat center/20px;}
    
    #gnb{display: none;}
    
    #video div{display: none;}
    #video img{display: block;}
    
    #notice .research{width: 100%;}
    #notice .v_slide{width: calc(100% - 100px);}
    #notice .v_slide ul{padding: 0 15px;}
    
    #academy{margin-left: 20px; margin-top: 50px;}
    #academy h2{padding-bottom: 30px;}
    #academy .b_logo{display: none;}
    
    #academy .frame_small_btn #prev{position: absolute;  background: url(../img/icon_left.png) no-repeat center/20px; border: none; text-indent: -9999px; top: -35px; left: 35%; margin-left: -45%;}
    #academy .frame_small_btn #next{position: absolute;  background: url(../img/icon_right.png) no-repeat center/20px; border: none; text-indent: -9999px; top: -35px; right: 35%; margin-right: -45%;}
    
    #news{margin-top: 50px;}
    #news div{height: 320px;}
    #news div p{margin-bottom: 30px;}
    #news div ul li{margin-bottom: 10px;}
    #news div ul li a{width: 250px;}
    
    footer{margin-top: 50px;}
    footer .f_menu ul li{margin-left: 15px;}
    footer .f_menu ul li i{margin-left: 15px;}
    footer .f_menu .fCon{display: none;}
    footer .copy{padding:0 0 30px; font-size: 13px;}
}







