@charset "utf-8";

/*고정*/
header{position: fixed; left: 0; top: 0; width: 130px; height: 100%; z-index: 5;}
header .up-fix{width: 100%; height: 50%; background: #292929;}

header .up-fix img{display: block; padding-top: 40px; margin: auto; margin-bottom: 40px;}
header .up-fix p{text-align: center;}
header .up-fix p span{display: inline-block; width: 2px; height: 24px; background: #ccc; margin-right: 2px;}

header .down-fix{width: 100%; height: 50%; background: #fff;}
header .down-fix img{display: block; padding-top: 40px; margin: auto; margin-bottom: 40px;}
header .down-fix .left-text{position: relative; width: 300px; transform: rotate(-90deg); bottom: -25%; right: 85px; }
header .down-fix .left-text span{font-weight: 700; color: #333; margin-right: 20px;}
header .down-fix .left-text span:first-child:after{content: ''; position: relative; top: 2px; display: inline-block; width: 2px; height: 14px; background-color: #c8c7cc; margin-left: 20px;}
header .down-fix .left-text span:nth-child(2){color: #c8c7cc;}
header .down-fix .left-text span:last-child{margin-left: 20px;}

#nav{position: absolute; top: 0; left: -120px; width: 250px; height: 100%; background: #fff; z-index: -1; transition: left 0.4s;}
#nav.nav_on{left: 130px;}
#nav li{width: 100%; height: 50px;}
#nav li:first-child{margin-top: 50px;}
#nav li a{display: block; width: 100%; line-height: 50px; padding-left: 20px;}

#nav li a:hover{background: #333; color: #fff;}









.sub-contents{width: 100%; height: 1620px; background: #e9e9e9;}

header .down-fix .sub-left-text{position: relative; width: 300px; transform: rotate(-90deg); bottom: -25%; right: 85px; }
header .down-fix .sub-left-text span{font-weight: 700; color: #333; margin-right: 20px;}

.sub-header{max-width: 800px; margin: auto;}
.sub-header .sub-textBox{position: relative; width: 100%; padding-top: 80px;}
.sub-header .sub-textBox > span{font-size: 17px; color: #8e8b84;}
.sub-header .sub-textBox h1{font-size: 50px; font-weight: 300; color: #777;}
.sub-header .sub-textBox .up-line{position: absolute; top: 37px; left: 0px; width: 1px; height: 35px; background: #d7d7d7;}
.sub-header .sub-textBox .right-line{position: absolute; top: 37px; left: 0px; width: 709px; height: 1px; background: #d7d7d7;}
.sub-header .sub-textBox .down-line{position: absolute; top: 37px; right: 90px; width: 1px; height: 115px; background: #d7d7d7;}
.sub-header .sub-textBox .left-line{position: absolute; bottom: 13px; right: 90px; width: 216px; height: 1px; background: #d7d7d7;}
.sub-header .sub-textBox a{position: absolute; top: 90px; right: 30px; width: 120px; height: 120px; border-radius: 50%; background: #003638;}
.sub-header .sub-textBox a span{display: block; color: #fff; text-align: center; padding-top: 27px; font-size: 18px;}

#sub-nav{width: 800px; height: 72px; border-radius: 13px; background: #fff; box-shadow: 5px 5px 2px rgba(0,0,0,0.3); margin: 100px auto 0;}
#sub-nav:after{display: block; content: ''; clear: both;}
#sub-nav li{float: left; text-align: center; color: #003638; font-weight: 500; opacity: 0.5; margin-right: 34px;}
#sub-nav li.on{opacity: 1;}
#sub-nav li.on:after{content: ''; display: block; width: 100%; height: 1px; background: #003638; position: relative; bottom: 20px;}
#sub-nav li:first-child{margin-left: 80px;}
#sub-nav li a{display: block; width: 100%; line-height: 72px;}

#sub-nav li:hover{opacity: 1;}




#sub-nav-right{position: fixed; top: 250px; right: -300px; width: 800px; height: 72px; border-radius: 13px; margin: 100px auto 0; transform: rotate(90deg);}
#sub-nav-right:after{display: block; content: ''; clear: both;}
#sub-nav-right li{float: left; text-align: center; color: #003638; font-weight: 500; opacity: 0.5; margin-right: 34px;}
#sub-nav-right li.on{opacity: 1;}
#sub-nav-right li.on:after{content: ''; display: block; width: 100%; height: 1px; background: #003638; position: relative; bottom: 20px;}
#sub-nav-right li:first-child{margin-left: 80px;}
#sub-nav-right li a{display: block; width: 100%; line-height: 72px;}

#sub-nav-right li:hover{opacity: 1;}

















.sub-tt{max-width: 800px; margin: auto;}
.sub-tt h2{color: #414141; font-size: 36px; text-align: center; margin-top: 100px; margin-bottom: 40px;}
.sub-tt h3{font-family: 'Bookman Old Style', 'san serif'; color: #414141; font-size: 20px; margin-bottom: 35px;}

.sub-tt .sub-array:after{display: block; content: ''; clear: both;}
.sub-tt .sub-array p{float: left; width: 50%; margin-bottom: 30px; color: #003638;}
.sub-tt .sub-array p span{display: block; margin-top: 5px; color: #9a9a9a;}
.sub-tt img{margin-top: 50px;}

.footer{max-width: 800px; margin: auto; text-align: center; margin-top: 100px; color: #9a9a9a;}
.footer h2{font-size: 20px; font-weight: 500; margin-bottom: 5px;}
.footer .ft01{font-size: 13px; margin-bottom: 10px;}
.footer .ft02{font-size: 13px;}
.footer .ft02 span{display: inline-block; width: 120px; height: 20px; border-radius: 5px; border: 1px solid #9a9a9a; margin-right: 10px; margin-bottom: 20px;}
.footer .copy{font-size: 13px;}












